@page "/"
@using BlazorApp1.Client.Controls
@using BlazorApp1.Client.Shared
<AuthorizeView>
    <Authorized>
        <TreeView Tvalue="Item" DataSource="@MyFolder" Id="Id" Text="Name" ItemId="ItemId" Expanded="Expanded" HasChildren="HasSubFolder">
        </TreeView>
    </Authorized>
    <Authorizing>
        <h1>
            <div id="app">
                <div style="position:absolute; top:30vh; width:100%; text-align:center">
                    <h1>My application</h1>
                    <div style="display:flex; gap:10px; justify-content:center; align-items:center">
                        <div class="spinner-border" role="status"></div>
                        The application is loading...
                    </div>
                </div>
            </div>
        </h1>
    </Authorizing>
</AuthorizeView>

@code{
    List<Item> MyFolder = new List<Item>();
    protected override Task OnInitializedAsync()
    {
        MyFolder.Add(new Item { Id = "1", Name = "Summary", HasSubFolder = true, Expanded = true, ItemId = "" });
        MyFolder.Add(new Item { Id = "2", Name = "Result", ItemId = "1", HasSubFolder = true, Expanded = true });
        MyFolder.Add(new Item { Id = "3", Name = "Primary", ItemId = "2", HasSubFolder = false, Expanded = true });
        MyFolder.Add(new Item { Id = "4", Name = "Secondary", ItemId = "6", HasSubFolder = false, Expanded = true });
        MyFolder.Add(new Item { Id = "5", Name = "Industry", ItemId = "6", HasSubFolder = false, Expanded = true });
        MyFolder.Add(new Item { Id = "6", Name = "Technology", ItemId = "2", HasSubFolder = true, Expanded = true });
        return base.OnInitializedAsync();
    } 
}